x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"
services:
  delta-notifier:
    image: nvdk/mu-delta-notifier:1.0.0
    volumes:
      - ./config/delta:/config
    logging: *default-logging    
  database:
    image: semtech/sparql-parser:0.0.15
    ports:
      - "4027:8890"
    volumes:
      - ./config/authorization:/config
      - ./data/authorization:/data
    restart: always
    logging: *default-logging    
  triplestore:
    image: redpencil/virtuoso:1.3.0
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/db:/data
      - ./config/virtuoso/virtuoso.ini:/data/virtuoso.ini
    logging: *default-logging    
  search:
    # build:
    #   context: ../
    image: semtech/mu-search # update to image you want to test
    ports:
      - "8888:80"
    volumes:
      - ./config:/config
      - ./data/attachments:/data
      - ./data/cache:/cache
    logging: *default-logging
  elasticsearch:
    image: semtech/mu-search-elastic-backend:1.2.0
    volumes:
      - ./data/elasticsearch/:/usr/share/elasticsearch/data
    ulimits:
      nproc: 65536
      nofile:
        soft: 65535
        hard: 65535
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms1g -Xmx4g"
      - "cluster.routing.allocation.disk.watermark.low=96%"
      - "cluster.routing.allocation.disk.watermark.high=97%"
      - "cluster.routing.allocation.disk.watermark.flood_stage=98%"
    logging: *default-logging
  tika:
    image: apache/tika:1.25-full
    logging: *default-logging
